body {
    background-color: var(--branco);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    box-sizing: border-box;
    padding: 80px;

    width: 100%;
}

.input-padrao {
    background-color: var(--cinza-claro);
    border-radius: 4px;
    border: none;

    height: 32px;
}

.erro{
    color: var(--vermelho);
    font-size: 12px;
}

.formulario__campo {
    margin-top: 32px;
}

.seletor_form {
    margin: 32px 0;
    border: none;
}

.input-padrao.mensagem {
    height: 150px;
    margin-bottom: 32px;
}

input.botao_enviar {
    background-color: var(--azul-claro);
    color: var(--branco);
    font-size: 16px;
    
    border: none;
    height: 48px;
    border-radius: 8px;

    margin-top: 32px;
}

input.botao_enviar:hover {
    opacity: .5;
}


@media screen and (min-width: 1024px){
    form {
        max-width: 1080px;
        margin: 0 auto;
    }
}